.color-white {
	background-color: white;
}

.color-black-1 {
	/* #08CD7C -> #242837-#201D2C*/
	/* #5747F7 -> #191931-#1E1C44*/
	/* #FFBE22 -> #272637-#201D2C */
	/* #00EFFF -> #1E1D2C */
	/* #FF546C -> #2F3043 */
	/* #252526 */
	/* #161b22 -> #0D1117 */
	background-color: #0D1117;
}

.color-black-2 {
	background-color: #333;
}

.color-black-3 {
	background-color: black;
}

.color-zt {
	/* 紫檀色 */
	color: #4c221b;
}

.color-wl {
	color: #08CD7C;
}

.color-lg {
	/* 灰色 */
	color: darkgrey;
}

.color-dg {
	color: Black;
}