.color-white {
	background-color: white;
}

.color-black-1 {
	background-color: #0d1117;
}

.color-black-2 {
	background-color: #333;
}

.color-black-3 {
	background-color: black;
}

.color-zt {
	/* 紫檀色 */
	color: #4c221b;
}

.color-wl {
	color: #08cd7c;
}

.color-lg {
	/* 灰色 */
	color: darkgrey;
}

.color-dg {
	color: Black;
}