*{
	margin: 0;padding: 0;
}
body{
	font-family: 'Noto Sans',"microsoft yahei", sans-serif;
}
/* 右侧滚动条 */
/* ::-webkit-scrollbar{
	width: 6px;
	height: 300px;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(#08CD7C,#5747F7,#FFBE22,#00EFFF,#FF546C);
	border-radius: 3px;
	transition: 2s;
}
::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(#FF546C,#00EFFF,#FFBE22,#5747F7,#08CD7C);     
} */

nav{
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	background-color: #efefef;
}
.nav-box{
	height: 50px;
	width: 100%;
	position: fixed;
	backdrop-filter: brightness(100%) saturate(100%) blur(15px);
	z-index: 1000;
}
.nav-box h1{
	position: fixed;
	display: inline-block;
	line-height: 50px;
	padding-left: 20px;
	cursor: pointer;
}

h2{
	color: #08CD7C;
	text-align: center;
	margin: 10px 0 50px 0;
}

.box{
	display: flex;
	flex-direction: row;
	flex-direction: row;
	justify-content: center;align-items: center;
	margin-bottom: 50px;
}
@media screen and (max-width: 400px){
	.box{
		flex-direction: column;
	}
	.box div{
		width: 300px;
		height: 300px;
	}
}
@media screen and (min-width: 401px) and (max-width: 1200px) {
	.box{
		flex-direction: column;
	}
}

.bottom-box{
	margin-bottom: 80px;
}

/* <hr /> */
.hr-top{
	transform: translateY(-20px);
	border: 2px solid #555555;
}
.hr-bottom{
	border: 1px solid #607070;
}