*{
	margin: 0;padding: 0;
}
body{
	font-family: 'Noto Sans',"microsoft yahei", sans-serif;
}
nav{
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	background-color: #efefef;
}
.nav-box{
	height: 50px;
	width: 100%;
	position: fixed;
	backdrop-filter: brightness(100%) saturate(100%) blur(15px);
	z-index: 1000;
}
.nav-box h1{
	position: fixed;
	display: inline-block;
	line-height: 50px;
	padding-left: 20px;
}
.nav-box h1:hover{
	cursor: pointer;
}
.box{
	display: flex;
	flex-direction: row;
	justify-content: center;align-items: center;
	margin-bottom: 50px;
}
.bottom-box{
	margin-bottom: 80px;
}

.linked div{
	margin: 0 5px;
}
.linked div a:hover{
	color: #a3c455;
}

